Result:

Переменные: snake_сase
    -только английские символы
    -префикс n обозначает количество
    -логические переменные начинаются с глагола (is/has/can...)

Константы: UPPER_CASE

Классы: PascalCase

Функции: camelCase
    -геттеры и сеттеры начинаются с get и set
    -должны содержать глагол
    -логические функции начинаются с глагола (is/has/can...)

Поля: camelCase
 -начинаются с _подчеркивания

Методы: camelCase
    -не дублируем имя объекта
    -должны содержать глагол

>Отступы - 4 пробела (1 tab)
>Не более 80 символов в строке
>Ссылки и указатели пишем слитно (int  *x, int  &x)
>Где можно - указываем пространство имён

Скобки:
Функции()
{
}

Циклы(){
}

Условия(){
}

Классы(){
}
